body {

    background: $body-bg;
    font-family: $ff, sans-serif;

}

* {

    color: $black;
    line-height: 1;

}

.box-shadow {

    box-shadow: $box-shadow;

}

.mb-4 {

    margin-bottom: 40px;

}

.w-758 {

    width: 758px;

}

.clf {

    &::after {

        clear: both;
        content: '';
        display: block;

    }

}