@charset "UTF-8";
@font-face {
  font-family: 'wafu';
  src: url("assets/shokakiutage.ttf") format("truetype");
}

/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

ul {
  list-style: none;
  margin-bottom: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  background: #FFD445;
  font-family: "ヒラギノ角ゴシック", sans-serif;
}

* {
  color: #222;
  line-height: 1;
}

.box-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.mb-4 {
  margin-bottom: 40px;
}

.w-758 {
  width: 758px;
}

.clf::after {
  clear: both;
  content: '';
  display: block;
}

.inner {
  max-width: 1312px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.section__title {
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.section-title {
  display: flex;
  position: relative;
  overflow: hidden;
}

.section-title__txt {
  font-size: 60px;
  font-family: "wafu";
  margin: 0 50px 0 150px;
}

@media screen and (max-width: 986px) {
  .section-title__txt {
    font-size: 42px;
  }
}

.section-title::before {
  content: '';
  background: #222;
  width: 100px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-title::after {
  content: '';
  background: #222;
  height: 10px;
  border-radius: 10px;
  width: 900px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .section-title::after {
    width: 610px;
  }
}

@media screen and (max-width: 986px) {
  .section-title::after {
    width: 393px;
  }
}

@media screen and (max-width: 767px) {
  .section-title__txt {
    font-size: 30px;
    margin: 0 20px 0 70px;
  }
  .section-title::before {
    width: 50px;
  }
  .section-title::after {
    width: 214px;
  }
}

.section-title--after-width__758::after {
  width: 758px;
}

@media screen and (max-width: 1024px) {
  .section-title--after-width__758::after {
    width: 468px;
  }
}

@media screen and (max-width: 986px) {
  .section-title--after-width__758::after {
    width: 310px;
  }
}

@media screen and (max-width: 767px) {
  .section-title--after-width__758::after {
    width: 144px;
  }
}

.section-title--after-width__839::after {
  width: 839px;
}

@media screen and (max-width: 1024px) {
  .section-title--after-width__839::after {
    width: 548px;
  }
}

@media screen and (max-width: 986px) {
  .section-title--after-width__839::after {
    width: 366px;
  }
}

@media screen and (max-width: 767px) {
  .section-title--after-width__839::after {
    width: 184px;
  }
}

.logo__link {
  display: block;
}

.header__hero-view {
  padding-bottom: 100px;
}

.global-nav {
  margin-bottom: 100px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease 0s;
}

.global-nav__nav-menu {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .global-nav {
    display: none;
  }
}

.js-global-nav--scroll {
  background: #222;
}

.js-global-nav--scroll .inner {
  padding: 20px;
}

.global-nav-inner {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
}

.nav-menu {
  display: flex;
}

.nav-menu__item {
  margin-left: 58px;
}

.nav-menu__link {
  font-family: "wafu";
  font-size: 32px;
  line-height: 1.5;
  color: #222;
}

.nav-menu__link:visited {
  color: #222;
}

.nav-menu__link:hover {
  color: #222;
}

@media screen and (max-width: 1024px) {
  .nav-menu__link {
    line-height: 2;
  }
}

.js-global-nav--scroll .nav-menu__link {
  color: white;
}

.js-global-nav--scroll .nav-menu__link:visited {
  color: white;
}

.js-global-nav--scroll .nav-menu__link:hover {
  color: white;
}

.hero-view__inner {
  display: flex;
  position: relative;
  transition: all 0.3s ease 0s;
}

.hero-view__image-left {
  width: 50%;
  transition: all 0.3s ease 0s;
}

.hero-view__image-right {
  width: 50%;
  transition: all 0.3s ease 0s;
}

.hero-view__image-center {
  position: absolute;
  width: 15%;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 767px) {
  .hero-view__inner {
    display: block;
  }
  .hero-view__image-left {
    width: 100%;
    margin-left: -4%;
    margin-bottom: 125px;
  }
  .hero-view__image-right {
    width: 100%;
    margin-left: 4%;
  }
  .hero-view__image-center {
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu__inner {
  padding-bottom: 100px;
}

.menu-list {
  padding-bottom: 20px;
}

.menu-list__item {
  width: calc(100% - 66.6666% - 60px);
  margin-right: 60px;
  margin-bottom: 80px;
}

.menu-list__item:nth-child(3n) {
  margin-right: 0;
}

.menu-list__item:nth-child(4) {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .menu-list__item {
    width: calc(100% - 66.66666% - 40px);
  }
}

@media screen and (max-width: 986px) {
  .menu-list__item {
    width: calc(50% - 32px);
    margin-right: 64px;
  }
  .menu-list__item:nth-child(3n) {
    margin-right: 64px;
  }
  .menu-list__item:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-list {
    padding-bottom: 0;
  }
  .menu-list__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .menu-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

.menu-item {
  float: left;
}

.menu-item__head {
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.menu-item__head img {
  border-radius: 10px;
}

.menu-item__body {
  padding: 0 35px;
}

@media screen and (max-width: 1024px) {
  .menu-item__body {
    padding: 0 18px;
  }
}

.menu-item__title {
  font-size: 24px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.menu-item__title::after {
  position: absolute;
  content: '';
  display: inline-block;
  background: #222;
  width: 110%;
  height: 5px;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
}

.menu-item__price {
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .menu-item__price {
    font-size: 14px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 1024px) {
  .menu-item__name {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .menu-item__head {
    margin-bottom: 30px;
  }
}

.takeout__inner {
  padding-bottom: 100px;
}

.takeout__video {
  margin: 0 auto;
  width: 100%;
  max-width: 986px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.takeout__video video {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.access__inner {
  padding-bottom: 100px;
}

.media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.media__map {
  width: 50%;
  margin: 0 25%;
}

@media screen and (max-width: 986px) {
  .media__map {
    width: 100%;
    margin: 0 auto;
  }
}

.media__route {
  width: 49%;
  margin-right: 6%;
  margin-top: 48px;
}

@media screen and (max-width: 986px) {
  .media__route {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
  }
}

.media__parking {
  width: 45%;
  margin-top: 48px;
}

@media screen and (max-width: 986px) {
  .media__parking {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
  }
}

.parking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.parking__title {
  width: 100%;
  font-size: 30px;
  margin-bottom: 44px;
  text-align: center;
}

.parking__caution {
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
  text-align: center;
  color: #444444;
}

@media screen and (max-width: 1024px) {
  .parking__caution {
    font-size: 13px;
  }
}

.parking__left {
  width: 57%;
}

.parking__right {
  width: 38%;
}

@media screen and (max-width: 767px) {
  .parking__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.route__carousel {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.route__title {
  width: 100%;
  font-size: 30px;
  margin-bottom: 44px;
  text-align: center;
}

.route__caption {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 986px) {
  .route__caption {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .route__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .route__caption {
    font-size: 16px;
  }
}

.shop-info__inner {
  padding-bottom: 100px;
}

.shop-info-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-info-content__left {
  width: 70%;
}

@media screen and (max-width: 986px) {
  .shop-info-content__left {
    width: 100%;
    margin-bottom: 48px;
  }
}

.shop-info-content__right {
  width: 24%;
}

@media screen and (max-width: 986px) {
  .shop-info-content__right {
    width: 55%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .shop-info-content__right {
    width: 90%;
  }
}

.shop-info-content-left__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.shop-info-content-left__slide {
  margin-bottom: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.shop-info-content-left__table {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .shop-info-content-left__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .shop-info-content-left__table {
    width: 100%;
  }
}

.twitter__title {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.twitter iframe {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .twitter__title {
    font-size: 24px;
  }
}

.table {
  border-collapse: collapse;
}

.table tr {
  padding: 5px 0;
}

.table tr:nth-child(odd) {
  background: #FFEAA2;
}

.table th {
  padding: 5px 80px;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .table th {
    padding: 5px 30px;
  }
}

@media screen and (max-width: 767px) {
  .table td {
    vertical-align: middle;
  }
}

.footer {
  background: #222;
}

.footer__inner {
  padding: 24px 0;
}

.footer__copyright {
  text-align: center;
  color: white;
  font-size: 14px;
}

.drawer {
  display: none;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease 0s;
}

.drawer__inner {
  display: flex;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.drawer__logo {
  display: block;
}

.drawer__closer {
  display: none;
}

.drawer__toggler {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.drawer__toggler .fas {
  font-size: 42px;
}

.drawer__content {
  background: #222;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  transition: all .5s ease-in-out;
}

.drawer__closer {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .drawer {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .drawer__logo {
    width: 50%;
  }
}

.js-drawer--scroll {
  background: #222;
}

.js-drawer--scroll .drawer__inner {
  padding-top: 24px;
  padding-bottom: 24px;
}

.js-drawer--scroll .drawer__toggler .fas {
  color: white;
}

.drawer--active .drawer__opener {
  display: none;
}

.drawer--active .drawer__closer {
  display: block;
}

.drawer--active .drawer__content {
  right: 0;
}

.drawer-nav {
  padding: 40px;
}

.drawer-nav__item {
  text-align: right;
  margin-bottom: 46px;
}

.drawer-nav__logo {
  margin-bottom: 130px;
}

.drawer-nav__link {
  font-size: 30px;
  color: white;
  font-family: "wafu";
}
