.menu-list {

    padding-bottom: 20px;

    &__item {

        width: calc(100% - 66.6666% - 60px);
        margin-right: 60px;
        margin-bottom: 80px;

        &:nth-child(3n) {

            margin-right: 0;
            
        }

        &:nth-child(4) {

            margin-bottom: 0;

        }


        @include mq('tab') {

            width: calc(100% - 66.66666% - 40px);

        }

        @media screen and(max-width: 986px) {

            width: calc(50% - 32px);
            margin-right: 64px;

            &:nth-child(3n) {

                margin-right: 64px;

            }

            &:nth-child(even) {

                margin-right: 0;

            }

        }

    }

}