.menu-list {

    padding-bottom: 20px;

    &__item {

        width: calc(100% - 66.6666% - 60px);
        margin-right: 60px;
        margin-bottom: 80px;

        &:nth-child(3n) {

            margin-right: 0;
            
        }

    }

}