.menu-list {
  padding-bottom: 20px;
}

.menu-list__item {
  width: calc(100% - 66.6666% - 60px);
  margin-right: 60px;
  margin-bottom: 80px;
}

.menu-list__item:nth-child(3n) {
  margin-right: 0;
}

.menu-list__item:nth-child(4) {
  margin-bottom: 0;
}
