.nav-menu {

    display: flex;

    &__item {

        margin-left: 58px;

    }

    &__link {

        font-family: $wafu;
        font-size: 32px;
        line-height: 1.5;
        color: $black;

        &:visited {

            color: $black;

        }

        &:hover {

            color: $black;

        }

    }

    @include mq('tab') {

        &__link {

            line-height: 2;

        }

    }

}

.js-global-nav--scroll {

    .nav-menu {

        &__link {

            color: white;

            &:visited {

                color: white;

            }

            &:hover {

                color: white;

            }

        }

    }

}