.parking {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__title {

        width: 100%;
        font-size: 30px;
        margin-bottom: 44px;
        text-align: center;

    }

    &__caution {

        width: 100%;
        font-size: 14px;
        margin-top: 25px;
        text-align: center;
        // color: #444444;
        color: white;

        @include mq('tab') {

            font-size: 13px;

        }

    }

    &__left {

        width: 57%;

    }

    &__right {

        width: 38%;

    }

    @include mq('sp') {

        &__title {

            font-size: 24px;
            margin-bottom: 32px;

        }

    }

}