.route {

    &__carousel {

        box-shadow: $box-shadow;

    }

    &__title {

        width: 100%;
        font-size: 30px;
        margin-bottom: 44px;
        text-align: center;

    }

    &__caption {

        color: $body-bg;
        font-size: 24px;
        font-weight: bold;

        @media screen and(max-width: 986px) {

            font-size: 20px;

        }

    }

    @include mq('sp') {

        &__title {

            font-size: 24px;
            margin-bottom: 32px;

        }

        &__caption {

            font-size: 16px;

        }

    }

}

.carousel-caption {

    background: rgba(0, 0, 0, .7);
    padding: 16px 32px;

}