.section-title {

    display: flex;
    position: relative;
    overflow: hidden;

    &__txt {

        font-size: 60px;
        font-family: $wafu;
        margin: 0 50px 0 150px;

        @media screen and(max-width: 986px) {
            
            font-size: 42px;

        }

    }

    &::before {

        content: '';
        background: $black;
        width: 100px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

    }

    &::after {

        content: '';
        background: $black;
        height: 10px;
        border-radius: 10px;
        width: 900px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;

        @include mq('tab') {

            width: 610px;

        }

        @media screen and(max-width: 986px) {

            width: 393px;

        }

    }

    @include mq('sp') {

        &__txt {

            font-size: 30px;
            margin: 0 20px 0 70px;

        }

        &::before {

            width: 50px;

        }

        &::after {

            width: 214px;

        }

    }

}

.section-title--after-width__758 {

    &::after {

        width: 758px;

        
        @include mq('tab') {
            
            width: 468px;
            
        }
        @media screen and(max-width: 986px) {
            
            width: 310px;

        }
        
    }

    @include mq('sp') {

        &::after {
            width: 144px;

        }

    }


}

.section-title--after-width__839 {

    &::after {

        width: 839px;

        @include mq('tab') {

            width: 548px;

        }

        @media screen and(max-width: 986px) {
            
            width: 366px;

        }

    }

    @include mq('sp') {

        &::after {

            width: 184px;

        }

    }


}

