.takeout {

    &__inner {

        padding-top: 40px;
        padding-bottom: 60px;

    }

    &__video {

        margin: 0 auto;
        width: 100%;
        max-width: 986px;
        box-shadow: $box-shadow;

        video {
            width: 100%;
            display: block;
            margin: 0 auto;

        }

    }

}