.takeout {

    &__inner {

        padding-bottom: 100px;

    }

    &__video {

        margin: 0 auto;

        video {
            display: block;
            margin: 0 auto;

        }

    }

}